<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Order66">
    <meta property="og:url" content="https://toms74209200.github.io/Order66">
    <meta property="og:title" content="Order66 - 日本語入力のための60%キーボード">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@toms74209200">
    <meta name="twitter:title" content="Order66 - 日本語入力のための60%キーボード">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <title>Order66 - 日本語入力のための60%キーボード</title>
</head>

<body>
    <main style="width: 100%; display: flex; justify-content: center;">
        <div style="width: max-content;">
            <slot />
        </div>
    </main>
</body>

</html>